components/finops/logicapp-workflows/workflow-ptl.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logic_app_name": {
            "type": "String"
        },

        "location": {
            "defaultValue": "uksouth",
            "type": "String"
        }
     },
    "variables": {
      
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logic_app_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_CSV_table_hmcts-nonprod": {
                "inputs": {
                    "format": "CSV",
                    "from": "@body('Run_query_and_list_results_hmcts-nonprod')?['value']"
                },
                "runAfter": {
                    "Run_query_and_list_results_hmcts-nonprod": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Create_CSV_table_hmcts-prod": {
                "inputs": {
                    "format": "CSV",
                    "from": "@body('Run_query_and_list_results_hmcts-prod')?['value']"
                },
                "runAfter": {
                    "Run_query_and_list_results_hmcts-prod": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Create_CSV_table_hmcts-qa": {
                "inputs": {
                    "format": "CSV",
                    "from": "@body('Run_query_and_list_results_hmcts-qa')?['value']"
                },
                "runAfter": {
                    "Run_query_and_list_results_hmcts-qa": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Create_blob_hmcts-nonprod": {
                "inputs": {
                    "body": "@body('Create_CSV_table_hmcts-nonprod')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('finopsdataptlsa'))}/files",
                    "queries": {
                        "folderPath": "/loganalytics-hmcts-nonprod",
                        "name": "hmcts-nonprod-@{utcNow()}.csv",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Create_CSV_table_hmcts-nonprod": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Create_blob_hmcts-prod": {
                "inputs": {
                    "body": "@body('Create_CSV_table_hmcts-prod')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('finopsdataptlsa'))}/files",
                    "queries": {
                        "folderPath": "/loganalytics-hmcts-prod",
                        "name": "hmcts-prod-@{utcNow()}.csv",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Create_CSV_table_hmcts-prod": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Create_blob_hmcts-qa": {
                "inputs": {
                    "body": "@body('Create_CSV_table_hmcts-qa')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('finopsdataptlsa'))}/files",
                    "queries": {
                        "folderPath": "/loganalytics-hmcts-qa",
                        "name": "hmcts-qa-@{utcNow()}.csv",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Create_CSV_table_hmcts-qa": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Run_query_and_list_results_hmcts-nonprod": {
                "inputs": {
                    "body": "find where TimeGenerated between(startofday(ago(30d)) .. startofday(now())) project _ResourceId, _BilledSize, _IsBillable, ResourceType, Type\n| where _IsBillable == true \n| summarize BillableDataBytes = sum(_BilledSize) by _ResourceId, Type\n| extend ResourceName = tostring(split(_ResourceId, \"/\")[8])\n| extend ResourceProvider = tostring(split(_ResourceId, \"/\")[6])\n| extend ResourceType = tostring(split(_ResourceId, \"/\")[7])\n| extend ResourceGroup = tostring(split(_ResourceId, \"/\")[4])\n| summarize BillableDataBytes = sum(BillableDataBytes) by ResourceName, ResourceProvider, ResourceType, ResourceGroup, Type\n| extend DataIngestedInGB = round(BillableDataBytes / 1000 / 1000 / 1000, 2)\n| extend DataIngestionCosts = strcat(\"£\", round(DataIngestedInGB * 1.15, 2))\n| project-away BillableDataBytes\n| sort by DataIngestedInGB desc\n\n",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "oms-automation",
                        "resourcename": "hmcts-nonprod",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "1c4f0704-a29e-403d-b719-b90c34ef14c9",
                        "timerange": "Set in query"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Run_query_and_list_results_hmcts-prod": {
                "inputs": {
                    "body": "find where TimeGenerated between(startofday(ago(30d)) .. startofday(now())) project _ResourceId, _BilledSize, _IsBillable, ResourceType, Type\n| where _IsBillable == true \n| summarize BillableDataBytes = sum(_BilledSize) by _ResourceId, Type\n| extend ResourceName = tostring(split(_ResourceId, \"/\")[8])\n| extend ResourceProvider = tostring(split(_ResourceId, \"/\")[6])\n| extend ResourceType = tostring(split(_ResourceId, \"/\")[7])\n| extend ResourceGroup = tostring(split(_ResourceId, \"/\")[4])\n| summarize BillableDataBytes = sum(BillableDataBytes) by ResourceName, ResourceProvider, ResourceType, ResourceGroup, Type\n| extend DataIngestedInGB = round(BillableDataBytes / 1000 / 1000 / 1000, 2)\n| extend DataIngestionCosts = strcat(\"£\", round(DataIngestedInGB * 1.15, 2))\n| project-away BillableDataBytes\n| sort by DataIngestedInGB desc\n",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "oms-automation",
                        "resourcename": "hmcts-prod",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "8999dec3-0104-4a27-94ee-6588559729d1",
                        "timerange": "Set in query"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Run_query_and_list_results_hmcts-qa": {
                "inputs": {
                    "body": "find where TimeGenerated between(startofday(ago(30d)) .. startofday(now())) project _ResourceId, _BilledSize, _IsBillable, ResourceType, Type\n| where _IsBillable == true \n| summarize BillableDataBytes = sum(_BilledSize) by _ResourceId, Type\n| extend ResourceName = tostring(split(_ResourceId, \"/\")[8])\n| extend ResourceProvider = tostring(split(_ResourceId, \"/\")[6])\n| extend ResourceType = tostring(split(_ResourceId, \"/\")[7])\n| extend ResourceGroup = tostring(split(_ResourceId, \"/\")[4])\n| summarize BillableDataBytes = sum(BillableDataBytes) by ResourceName, ResourceProvider, ResourceType, ResourceGroup, Type\n| extend DataIngestedInGB = round(BillableDataBytes / 1000 / 1000 / 1000, 2)\n| extend DataIngestionCosts = strcat(\"£\", round(DataIngestedInGB * 1.15, 2))\n| project-away BillableDataBytes\n| sort by DataIngestedInGB desc\n\n",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "oms-automation",
                        "resourcename": "hmcts-qa",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "7a4e3bd5-ae3a-4d0c-b441-2188fee3ff1c",
                        "timerange": "Set in query"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Month",
                    "interval": 1,
                    "startTime": "2024/10/01T00:00:00Z",
                    "timeZone": "GMT Standard Time"
                },
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1,
                    "startTime": "2024/10/01T00:00:00Z",
                    "timeZone": "GMT Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/1baf5470-1c3e-40d3-a6f7-74bfbce4b348/resourceGroups/finopsdataptlrg/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "/subscriptions/1baf5470-1c3e-40d3-a6f7-74bfbce4b348/resourceGroups/finopsdataptlrg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/finopslogicapp-ptl-mi",
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/1baf5470-1c3e-40d3-a6f7-74bfbce4b348/providers/Microsoft.Web/locations/uksouth/managedApis/azureblob"
                },
                "azuremonitorlogs": {
                    "connectionId": "/subscriptions/1baf5470-1c3e-40d3-a6f7-74bfbce4b348/resourceGroups/finopsdataptlrg/providers/Microsoft.Web/connections/azuremonitorlogs",
                    "connectionName": "azuremonitorlogs",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "/subscriptions/1baf5470-1c3e-40d3-a6f7-74bfbce4b348/resourceGroups/finopsdataptlrg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/finopslogicapp-ptl-mi",
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/1baf5470-1c3e-40d3-a6f7-74bfbce4b348/providers/Microsoft.Web/locations/uksouth/managedApis/azuremonitorlogs"
                }
            }
        }
    }
            }
        }
        
    ],
    "outputs": {
     }
}

